.navbar-item img {
    max-height: none!important;
}

.pad-top {
    padding-top: 20px;
}

.ma-top {
    margin-top: 20px;
}

.tbox-scamp {
    margin-left: 30px!important;
    margin-top: 200px;
    margin-bottom: 190px;
    margin-right: 30px!important;
}

.waiting-scamp {
    margin-left: 30px!important;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 30px!important;
}

.action-scamp {
    margin-left: 30px!important;
    margin-top: 200px;
    margin-bottom: 53px;
    margin-right: 30px!important;
}

.pd-icon {
    padding-right: 5px;
}

#messagesShortened {
    margin-bottom: 20px!important;
}

.action-btn {
    margin-left: 30px;
    margin-bottom: 11.5px;
}

.ft {
    margin-left: 20px;
    margin-top: 30px;
}
.link-box {
    margin-left: 50px;
    margin-right: 50px;
}

.pd {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 83px;
}

.op-box {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 83px;
}

.pd-show {
    padding-top: 20px;
}

.hidden {
    display: none;
}

.is-copy {
    height: 23px!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #wrapper {
    flex: 1;
  }

  .footer {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
  }

@media (max-width:600px) {
    .is-mobile {
        display: block!important;
    }

    .fa-10x {
        font-size: 5em!important;
    }

    .link-box {
        margin-left: 10px;
        margin-right: 10px;
    }
}