<#include "../base.html">

<div style="margin-top: 20px;"class="container is-max-desktop">
    <article class="message">
        <div class="message-header">
          <p>Scampi's Imprint</p>
        </div>
        <div class="message-body">
        Responsible for the content of this site: <br>
Marc Andre Herpers <br>
Reinhold-Büttner Straße 5 <br>
47445 Moers <br>

Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung bereit, die Sie unter http://ec.europa.eu/consumers/odr/ <br>
        </div>
</article>
</div>
