<#include "base.html">
  <section class="level is-mobile pad-top">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Shortened Url's</p>
        <p class="title">${urlsTotal}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total link clicks</p>
        <p class="title">${totalClicks}</p>
      </div>
    </div>
  </section>


  <div class="columns centered">
    <div class="column has-text-centered">
      <i class="fa-brands fa-git fa-10x"></i>
      <h4 class="title is-4 pd-show">Open-source</h4>
      <p>Feel free to contribute to Scampi on <a href="https://github.com/MarcPlaying/scampi.me">GitHub</a></p>
    </div>
    <div class="column has-text-centered">
      <i class="fa-solid fa-user-secret fa-10x"></i>
      <h4 class="title is-4 pd-show">Anonymous</h4>
      <p>Only needed Data is being saved. We aren't saving IP Adresses or user locations</p>
    </div>
    <div class="column has-text-centered">
      <i class="fa-solid fa-server fa-10x"></i>
      <h4 class="title is-4 pd-show">Host it yourself </h4>
      <p>Feel free to install Scampi on your Server! Download it <a href="https://github.com/MarcPlaying/scampi.me/releases/tag/v">here</a></p>
    </div>
  </div>

  <div class="tabs is-medium">
    <ul>
      <li id="classicTab" class="is-active"><a onclick="classic()">Classic</a></li>
      <li id="unlockTab"><a onclick="unlock()">Unlock</a></li>
      <li id="waitingTab"><a onclick="waiting()">Waiting</a></li>
    </ul>
  </div>

  <div id="classic">
    <form id="form" onsubmit = "event.preventDefault(); onSubmit();" method="POST" action="/create">
      <div class="control has-icons-left has-icons-right tbox-scamp">
        <input oninput="onInputChanged()" id="linkTxt" class="input is-large" name="url" type="url" placeholder="Insert link here">
        <span class="icon is-medium is-left">
          <i class="fas fa-link"></i>
        </span>
        <span class="icon is-medium is-right">
          <i class="fas fa-check" style="color:red;" id="veri"></i>
        </span>
      </div>
    </form>
</div>
<div class="hidden" id="unlock">
    <div class="control has-icons-left has-icons-right action-scamp">
      <input id="linkTxtAc" class="input is-large" name="url" type="url" placeholder="Insert link here">
      <span class="icon is-medium is-left">
        <i class="fas fa-link"></i>
      </span>
    </div>
    <button onclick="addAction()" class="button action-btn is-primary">Add Action</button>
    <div id="addaction" class="hidden pd">
      <div class="select">
        <select id="iconSelector">
          <#list icons>
            <#items as icon>
            <option value="${icon.ID}">${icon.name}</option>
            </#items>
          </#list>
        </select>
      </div>
      <input id="actionName" class="input" type="text" placeholder="Subscribe to YouTube">
      <input id="actionLink" class="input" type="text" placeholder="https://www.youtube.com/c/youtube">
      <button onclick="submitAction()" class="button  is-primary ma-top">Add Action to Link</button>
      
    </div>
  <button style="margin-left: 30px; margin-bottom: 80px;"onclick="submitLinkCreation()" class="button is-primary">Submit link with Actions</button>
</div>
<div class="hidden" id="waiting">
  <form id="form" onsubmit = "event.preventDefault(); onSubmitWaiting();" method="POST" action="/create">
    <div class="control has-icons-left has-icons-right waiting-scamp">
      <input id="linkTxtW" class="input is-large" name="url" type="url" placeholder="Insert link here">
      <span class="icon is-medium is-left">
        <i class="fas fa-link"></i>
      </span>
    </div>
  </form>
  <div class="select is-rounded op-box">
    <select id="wSeconds" name="seconds">
      <option value="1">5 seconds</option>
      <option value="2">10 seconds</option>
      <option value="3">60 seconds</option>
    </select>
  </div>
</div>
<div id="messagesShortened">
      
</div>

<footer class="footer">
  <div class="content has-text-centered">

      © 2022 Scampi | <a href="https://github.com/MarcPlaying/scampi.me" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>

  </div>
</footer>
    
</body>

</html>