<#include "base.html">

  <section class="level is-mobile pad-top">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Shortened Url's</p>
        <p class="title">${urlsTotal}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total link clicks</p>
        <p class="title">${totalClicks}</p>
      </div>
    </div>
  </section>


  <div class="columns centered">
    <div class="column has-text-centered">
      <i class="fa-brands fa-git fa-10x"></i>
      <h4 class="title is-4 pd-show">Open-source</h4>
      <p>Feel free to contribute to Scampi on <a href="https://github.com/MarcPlaying/scampi.me">GitHub</a></p>
    </div>
    <div class="column has-text-centered">
      <i class="fa-solid fa-user-secret fa-10x"></i>
      <h4 class="title is-4 pd-show">Anonymous</h4>
      <p>Only needed Data is being saved. We aren't saving IP Adresses or user locations</p>
    </div>
    <div class="column has-text-centered">
      <i class="fa-solid fa-server fa-10x"></i>
      <h4 class="title is-4 pd-show">Host it yourself </h4>
      <p>Feel free to install Scampi on your Server! Download it <a href="https://github.com/MarcPlaying/scampi.me/releases/tag/v">here</a></p>
    </div>
  </div>

  <div class="tabs is-medium">
    <ul>
      <li id="classicTab" class="is-active"><a onclick="classic()">Classic</a></li>
      <li id="unlockTab"><a onclick="unlock()">Unlock</a></li>
      <li id="waitingTab"><a onclick="waiting()">Waiting</a></li>
    </ul>
  </div>

  <div id="classic">

    <form id="form" onsubmit = "event.preventDefault(); onSubmit();" method="POST" action="/create">
      <div class="control has-icons-left has-icons-right tbox-scamp">
        <input oninput="onInputChanged()" id="linkTxt" class="input is-large" name="url" type="url" placeholder="Insert link here">
        <span class="icon is-medium is-left">
          <i class="fas fa-link"></i>
        </span>
        <span class="icon is-medium is-right">
          <i class="fas fa-check" style="color:red;" id="veri"></i>
        </span>
      </div>
    </form>

    <div id="messages">
      
    </div>
</div>

<div class="hidden" id="unlock">Unlock</div>

<div class="hidden" id="waiting">

  <form id="form" onsubmit = "event.preventDefault(); onSubmitWaiting();" method="POST" action="/create">


    <div class="control has-icons-left has-icons-right waiting-scamp">
      <input id="linkTxtW" class="input is-large" name="url" type="url" placeholder="Insert link here">
      <span class="icon is-medium is-left">
        <i class="fas fa-link"></i>
      </span>
    </div>

    <div class="select is-rounded waiting-scamp">
      <select id="wSeconds" name="seconds">
        <option value="1">5 seconds</option>
        <option value="2">10 seconds</option>
        <option value="3">60 seconds</option>
      </select>
    </div>
  </form>

  <div id="messagesWaiting">
      
  </div>

</div>

  <footer class="ft">
    <div class="content has-text">
      <p>
        <strong>© 2022 Scampi</strong> | <a target="_blank" href="https://github.com/MarcPlaying/scampi.me"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg> GitHub</a>
      </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
  </footer>

</body>

</html>