<#include "base.html">

<div class="container pad-top">
    <h1 id="waitingTitle" class="title is-1"></h1>
  </div>

  <script>
    window.addEventListener('load', (event) => {
        var dur = 0
        if(${waiting} == 1) {
            dur = 5;
        }else if(${waiting} == 2) {
            dur = 10;
        }else{
            dur = 60;
        }

        startTimer(dur, document.getElementById("waitingTitle"))
    });

    //https://stackoverflow.com/questions/20618355/how-to-write-a-countdown-timer-in-javascript
    function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since 
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = "Your URL is ready in: " +  minutes + ":" + seconds; 
        if(minutes == 0 && seconds == 0) {
            display = null;
            window.location.replace("${url}");
        }

        if (diff <= 0) {
            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 1000;
        }
    };
    // we don't want to wait a full second before the timer starts
    timer();
    setInterval(timer, 1000);
}
  </script>